---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Appointment from "../components/Appointment.astro";
import Services from "../components/Services.astro";
import ServicesOverview from "../components/ServicesOverview.astro";
import Werkwijze from "../components/Werkwijze.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Beestig Gezond — Dierenartsenpraktijk Belsele"
  description="Dierenartsenpraktijk gelegen in Belsele, gespecialiseerd in kleine huisdieren. Maak online een afspraak bij dierenarts Elisabeth Bonte, Helena Brône, Harm Kwak of Karen."
>
  <Header />
  <main>
    <Hero />
    <Appointment />
    <Services />
    <ServicesOverview />
    <Werkwijze />
    <Contact />
  </main>
  <Footer />
</Layout>
